#main-nav .container {
  display: block;
  padding: 0;
}
#main-nav .nav-header {
  margin-bottom: 0.5rem;
}

#main-nav .links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

#main-nav .links {
  display: block;
}
#main-nav .links a {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.nav-toggle {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--dark-color);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--primary-color);
  transform: rotate(90deg);
}
/* #main-nav .show-links {
  height: 5rem;
} */
.social {
  display: none;
}
.articles-container {
  grid-template-columns: repeat(2, 1fr);
}

.articles-container > *:first-child,
.articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media (max-width: 600px) {
  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #showcase .showcase-container {
    height: 60vh;
  }
  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }
  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:nth-child(2) {
    border-bottom: 1px dotted #444;
    padding-bottom: 1rem;
  }
  .page-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .page-container .page-content {
    grid-column: 1;
  }
  .l-heading {
    font-size: 1.5rem;
  }
}
